.menu {
    width: 100%;
    height: 100%;
    display: flex;

}

/*titulo*/
.note-title {
    background-color: #181825;
    border: 1px solid #313244;
    color: #cdd6f4;
    width: 100%;
    height: 5px;
    border-radius: 8px;
    padding: 1rem;
    font-family: monospace;
    resize: vertical;
}

/*divisor de conteudos e titulos para eles não ficar uns nos outros*/
.title-content-divider {
    flex-grow: 1;        
    height: 10px;
  }

  /*Area de conteudos das notas */
.text-area {
    background-color: #181825;
    border: 1px solid #313244;
    color: #cdd6f4;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 1rem;
    font-family: monospace;
    resize: vertical;
}

/* Área de preview */
.prose-note{
    background-color: #181825;
    border: 1px solid #313244;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
}

.editor-notas{
    padding: 1rem;
    padding-right: 3rem;
}

